# Ignore local virtual environments
venv/

# Python virtualenvs
venv/
**/venv/
.venv/
**/.venv/

# Ignore sensitive environment files
services/qa-over-filings/env.yaml

# Python cache
__pycache__/
**/__pycache__/
*.pyc
